*{
	margin-left: 0px;
}
.box2{
	padding-bottom:20px;
	padding-top:0px;
	color:#0E1011;
	background-color:#E9ECEF;
	padding-left: 30px;
	height:100vh;
	font:12px normal Arial, Helvetica, sans-serif;
}
.Titlos{
	color:black; 
	font: 36px normal Arial, Helvetica, sans-serif;
}
.category{
	color:#616161;
}

/* The folowing are needed on all pages
	for the navbar and the footer
 -------------------------------------------*/

#register-btn {
	background-color: #343a40;
	margin-left: 7px;
}

#sign-in-link {
	text-decoration: none ;
}

#search-button:hover {
	background-color: #343a40 ;
}

.navbar-brand {
	padding:0px 20px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
	height: 25px;
	color: #ffffff;
	padding: 10px 20px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #212529;
}



.footer-link {
	color: #ffffff;
}

.footer-link:hover {
	color: #64871a;
}

/* ------------------------------------------*/
