*{
	margin-left: 0px;
}
.box1{
	background-color:#343A40;
	color:#fff;
	font-size: 12px;
	padding:30px;
	margin-top:-18px;
	padding-left: 15px;
	font:20px normal Arial, Helvetica, sans-serif; 
}
.box2{
	padding-bottom:20px;
	padding-top:1px;
	color:#0E1011;
	background-color:#E9ECEF;
	margin-top:-15px;
	padding-left: 30px;
	padding-bottom: 50px;
	font:12px normal Arial, Helvetica, sans-serif;
}
.Titlos{
	color:black; 
	font: 36px normal Arial, Helvetica, sans-serif;
}
.category{
	color:#616161;
}