#hours{
  margin-right: 10px
}

h1{
  color: rgb(250, 17, 17)
}

h2{
  color: rgb(93, 126, 245);
  font-size: 30px;
}

h3{
  font-size: 23px;
  color: rgb(91, 118, 186)
}

h4{
  font-size: 21px;
  color: rgb(97, 97, 97)
}

h1,h2,h3 {
  text-align: center;
}

#addtagbtn,
.tag {
  margin-top: 10px;
  margin-right: 10px;
}

#CInfo {
  text-align: center;
  padding-bottom: 10px;
}

#jumbo {
  padding-top: 2%;
}

