body {
	width: 100%;
	height: 100%;
	background-color: #eee;
}

.left{
  float:left;
}

.right{
  float:right;
}


#jumbo {
  padding-top: 0;
	background-color: #eee;
}

.alert {
	position: absolute;
	width: 100%;
}

.maincontainer {
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-color: #eee;
}

.content {
	padding-bottom: 25px;
}

#tabContent {
  width: 50%;
  margin: 0 auto;
  padding-top: 3%;
  padding-left: 3%;
  padding-bottom: 3%;
  padding-right: 3%;
  background-color: rgb(255, 255, 255);
}


/* The folowing are needed on all pages
	for the navbar and the footer
 -------------------------------------------*/

#register-btn {
	background-color: #343a40;
	margin-left: 7px;
}

#sign-in-link {
	text-decoration: none ;
}

#search-button:hover {
	background-color: #343a40 ;
}

.navbar-brand {
	padding:0px 20px;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
	height: 25px;
	color: #ffffff;
	padding: 10px 20px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #212529;
}



.footer-link {
	color: #ffffff;
}

.footer-link:hover {
	color: #64871a;
}

/* ------------------------------------------*/
