#edit_par{
  font-size: 20px;
  text-align: right;
}

h1{
  color: rgba(0, 0, 0, 0.8);
  font-size: 35px;
}

h4{
  color: rgb(71, 179, 213)
}


#CV{
 font-size: 18px;
}

.title{
  color: rgb(97, 97, 97);
  padding-right: 5px;
}

#uploadfile{
  display: none;
}

#savebtn{
  display: none;
}

#jumbo {
  background-color: rgb(255, 255, 255);
  position: relative;
  width: 50%;
  left: 25%;
}

#head {
  padding-right: 1%;
}

