body {
  background-color: #f9f9f9;
}

#ultradangertext {
  color: rgb(125, 11, 11)
}

#captcha {
  font-weight: bold;
  text-align: center;
  font: Impact;
  font-size: 20px;
}

.dangertext {
  color: rgb(255, 24, 24);
}

.center {
  text-align: center;
}

.list {
  list-style-type: square;
}

.close {
  position: absolute;
  right: 1rem;
}

#inputcaptcha{
    text-align: center;
}

.navcontainer {
  display: none;
  position: absolute;
  float: left;
  left: 15%;
  width: 10%;
  height: 40%;
  background-color: #eeeeee;
}

#tabContent {
  width: 50%;
  margin: 0 auto;
  padding-top: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
  padding-right: 2%;
  background-color: rgb(255, 255, 255);
}

.label, .changebtn {
  display: inline-block;
}

.changebtn {
  position: relative;
  float: right;
}
