#search{
  margin-left: 25%
}

input[type=text],select, label{
  float: center;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right:5px;
  font-size: 17px;}

body{
  background-color: #e9e9e9;
}

.container{
  font: 16px normal Arial, Helvetica, sans-serif;
  background-color: white;
  line-height: 1.6em;
  width: 90%;
  margin: auto;
  overflow: hidden;
  margin-top: 15px;
  border: 1px solid #9C9C9C;
}

.container a{
  margin-top: 5px; 
  display: block;
  text-decoration: none;
  color: black;
}

#aggelia{
  font: 24px bold Arial, Helvetica, sans-serif;
}

#etaireia{
  font-weight:lighter; 
}

#location{
  font-style: italic;
}

.container a:hover{
  text-decoration: underline;
}

.button{
  background-color:#009933;
  color:white;
  width: 100px;
  height:40px;
  border-radius: 12px;
  float: right;
  margin-top: 30px;
}

.button:hover{
  background-color: green;
}

.button:active{
  background-color: #212529;
}

#main{
  float: left;
  padding: 0 30px;
  box-sizing: border-box;
  }


/* The folowing are needed on all pages
	for the navbar and the footer
 -------------------------------------------*/

#register-btn {
	background-color: #343a40;
	margin-left: 7px;
}

#sign-in-link {
	text-decoration: none ;
}

#search-button:hover {
	background-color: #343a40 ;
}

.navbar-brand {
	padding:0px 20px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
	height: 25px;
	color: #ffffff;
	padding: 10px 20px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #212529;
}



.footer-link {
	color: #ffffff;
}

.footer-link:hover {
	color: #64871a;
}

/* ------------------------------------------*/
