#sign-in-btn {
  background-color: #343a40;
  margin-left: 7px;
}

#mainFooter
{
  text-align: center;
  margin-top: 370px;
  border: 1px solid #9C9C9C;
  background-color:  #e9e9e9;
  padding-top: 10px;
}

#search{
  margin-left: 25%
}

input[type=text],select, label{
  float: center;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right:5px;
  font-size: 17px;}

body{
  background-color: #e9e9e9;
}

.container{
  font: 16px normal Arial, Helvetica, sans-serif;
  background-color: white;
  line-height: 1.6em;
  width: 90%;
  margin: auto;
  overflow: hidden;
  margin-top: 15px;
}

.container a{
  margin-top: 5px; 
  display: block;
  text-decoration: none;
  color: black;
}

#aggelia{
  font: 24px bold Arial, Helvetica, sans-serif;
}

#etaireia{
  font-weight:lighter; 
}

#location{
  font-style: italic;
}

.container a:hover{
  text-decoration: underline;
}

.button{
  background-color:#009933;
  color:white;
  width: 100px;
  height:40px;
  border-radius: 12px;
  float: left;
  margin-top: 30px;
}

.button:hover{
  background-color: green;
}

.button:active{
  background-color: #212529;
}

#main{
  float: left;
  padding: 0 30px;
  box-sizing: border-box;
  }

