body,
html {
  width: 100%;
	background-color : #000f08;
}

#sign-in-btn {
	background-color: #343a40;
	margin-left: 7px;
}

.job-link {
	color: #64871a; 
}

.job-link:hover {
	color: #64871a; 
}

.job-link:visited {
	color: #64871a; 
}

.jumbotron {
	height: 100vh;
	margin: 0px;
}

footer {
	height: 25px;
	color: #ffffff;
	padding: 10px 20px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}


#search-button:hover {
	background-color: #343a40 ;
}

.footer-link {
	color: #ffffff;
}

.footer-link:hover {
	color: #64871a; 
}
