body,
html {
  width: 100%;
	height: 100vh;
	background-color :#ececec; 
}


.job-link {
	color: #64871a; 
}

.job-link:hover {
	color: #64871a; 
}

.job-link:visited {
	color: #64871a; 
}

.jumbotron {
	height:100%;
	margin: 0px;
}


#toggle-nav {
	color: red;
	margin-right: 20px;
}

#toggle-nav-container {
	display: flex;
	justify-content: flex-end;
}

/* The folowing are needed on all pages
	for the navbar and the footer 
 -------------------------------------------*/

#register-btn {
	background-color: #343a40;
	margin-left: 7px;
}

#sign-in-link {
	text-decoration: none ;
}

#search-button:hover {
	background-color: #343a40 ;
}

footer {
	height: 25px;
	color: #ffffff;
	padding: 10px 20px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #212529;
}



.footer-link {
	color: #ffffff;
}

.footer-link:hover {
	color: #64871a; 
}

/* ------------------------------------------*/
